.after-entry {

    background-color: $after-entry--background-color;
    @include rem( font-size, $after-entry--font-size );
    margin: 10px 0;
    padding: 10px 10px 10px 20px;

    @include media( $screen--860 ) {
        padding: 30px;
        margin-bottom: 5%;
    }

}