//
// Main Entry Article
//==========================================

.content .entry {
    background: url("assets/images/main_bg.png") repeat;
}

.entry {

    background-color: $entry--background-color;
    margin-bottom: 0;
    padding: 5px 10px;

    /*@include media( $screen--800 ) {
        padding: 10px 20px;
    }*/

    @include media( $screen--960 ) {
        padding: 5px;
    }

}