.ski-resorts-archive {

    .content {

        background: $body--background-color;

        &:last-child {
            padding-bottom: 10px;
        }

    }

    a.alignleft,
    img.alignleft,
    .wp-caption.alignleft {
        margin: 0;
    }

}

