.ski-resorts-archive {

    .first {
        margin-left: 0;
    }

    .one-fourth,
    .two-fourths {
        display: flex;
        flex-direction: column;
        /*margin-left: 0.83333333333333%;*/
        margin-left: 0;
    }

    .one-fourth {
        /*min-width: 24.3%;*/
        min-width: 25%;
    }

    .two-fourths {
        min-width: 50%;
    }

}