.ski-resorts-archive .archive-description {
    background: linear-gradient( to bottom, #ffffff, #f7f7f7 );
    /*background:#ffffff;
    background: -webkit-linear-gradient(top, #ffffff, #f7f7f7);
    background:    -moz-linear-gradient(top, #ffffff, #f7f7f7);
    background:     -ms-linear-gradient(top, #ffffff, #f7f7f7);
    background:      -o-linear-gradient(top, #ffffff, #f7f7f7);*/
    border-bottom: 1px solid #d7d7d7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 0;
}