.ski-resorts-archive {

    .entry {
        padding: 10px 10px 0;
    }

    .ski-resort {

        background: url( "assets/images/main_bg.png" ) repeat;

        p {
            margin-bottom: 0;
        }

    }

}