//
// Dimension Variables
//==========================================

//$base--width: 1280;
//$gutter: 40px;

// Imagine that:
//      1.- Content is 880px (68.75% of 1280).
//      2.- Gutter is 40px.
//      3.- Sidebar is 360px (28.125% of 1280).
//      Total is 1280px, our $base--width.
// Then, in Content Widths Section:
// $content--width: $base--width * 0.6875 + px;
// $primary-sidebar--width: $max-width - $content--width - $gutter;
// Or:
// $primary-sidebar--width: $base--width * 0.28125 + px;

//
// Max Widths
//==========================================
$site-inner--max-width: none; // 1280px;
$site-inner--max-width--1340: none; /*1140px;*/
$site-inner--max-width--1200: none; /*960px;*/
$site-inner--max-width--1023: none; /*800px;*/
$site-inner--max-width__home: none;
$site-inner--max-width__landing-page: none; /*800px;*/

// It goes Mobile First
//$base-wrap-max-width: $max-width - 372px;
//$wrap-max-width-medium: $max-width - 180px;
//$wrap-max-width-large: $max-width;

//
// Content Widths
//==========================================
$content--width: 880px;
$content--width--1340: 800px;
$content--width--1200: 620px;

$content-both-sidebars--width: 660px;
$content-both-sidebars--width--1340: 580px;
$content-both-sidebars--width--1200: 400px;

$primary-sidebar--width: 360px;
$primary-sidebar--width--1340: 300px;
$secondary-sidebar--width: 180px;

$content-sidebar-wrap--width: 1060px;
$content-sidebar-wrap--width--1340: 920px;
$content-sidebar-wrap--width--1200: 740px;

// Header Module
$title-area--width: 10%;
$title-area--width--1440: 12%;
$title-area--width--1280: 15%;
$title-area--width--1023: 15%;
$title-area--width--960: 20%;
$title-area--width--800: 20%;
$title-area--width--680: 25%;
$title-area--width--568: 40%;
$title-area--width--481: 45%;
$title-area--width--430: 50%;
$title-area--width--415: 55%;
$title-area--width--340: 60%;
$site-title--min-height: 80px;

// Header Right Widget
$header-right--width: 90%;
$header-right--width--1440: 88%;
$header-right--width--1280: 85%;
$header-right--width--1023: 85%;
$header-right--width--960: 80%;
$header-right--width--800: 80%;
$header-right--width--680: 75%;
$header-right--width--568: 100%;
//$header-right--width--568: 70%;
//$header-right--width--520: 65%;
//$header-right--width--481: 100%;
//$header-right--width--430: 55%;
//$header-right--width--415: 50%;

// Footer Module
$footer-widgets--width: 380px;
$footer-widgets--width--1340: 340px;
$footer-widgets--width--1200: 300px;
$footer-widgets--width--1023: 100%;