/* ## Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
    margin: 0 auto;
    max-width: $site-inner--max-width; /*max-width: 1280px;*/

    // CAMERASKI -> NOT
    /*@include media( $screen--1340 ) {

        max-width: $site-inner--max-width--1340;

    }

    @include media( $screen--1200 ) {

        max-width: $site-inner--max-width--1200;

    }

    @include media( $screen--1023 ) {

        max-width: $site-inner--max-width--1023;

    }*/
    // / CAMERASKI -> NOT

}

.site-inner {

    clear: both;
    // CAMERASKI
    max-width: none;
    // /CAMERASKI
    padding-top: 0; // CAMERASKI Anterior: padding-top: 40px;
    word-wrap: break-word;

}

// CAMERASKI Only for FrontPage
.home .site-inner {
    max-width: $site-inner--max-width__home;
    padding-top: 0;
}
// /CAMERASKI

.landing-page .site-inner {
    max-width: $site-inner--max-width__landing-page;
}