/* ## CAMERASKI - Column Classes
--------------------------------------------- */

.column-top-left,
.column-top-center,
.column-top-right,
.column-top-right--bottom,
.column-bottom,
.one-half {
    float: left;
}

.column-top-left,
.column-top-center,
.column-top-right,
.column-bottom,
.one-half {
    background: linear-gradient( to bottom, #ffffff, #f6f6f6 );
}

.column-top-left,
.column-top-center,
.column-top-right,
.column-bottom,
.one-half {
    border-bottom: 1px solid #d7d7d7;
    box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.1 );
}


.column-top-left,
.column-top-center,
.column-top-right,
.column-top-right--top,
.column-bottom,
.one-half {
    margin-left: 0.83333333333333%;
}

.column-bottom,
.one-half {
    width: 49.583333333333%;
}

.column-top-left {

    text-align: center;
    width: 35.5%;

    @include media( $screen--1220 ) {
        width: 49.583333333333%;
    }

}

.column-top-center {

    width: 27.333333333333%;

    @include media( $screen--1220 ) {
        width: 49.583333333333%;
    }

}

.column-top-right {

    width: 35.5%;

    @include media( $screen--1220 ) {
        background: none;
        border-bottom: none;
        box-shadow: none;
        float: left;
        width: 100%;
        /*display: -webkit-flex;
        display: -ms-flexbox;*/
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

}

.webcams-one-fourth {
    max-width: 24.3%;
}

.first {
    margin-left: 0;
}

@include media( $screen--1220 ) {

    .column-top-right--top,
    .column-top-right--bottom {
        background: linear-gradient( to bottom, #ffffff, #f6f6f6 );
        border-bottom: 1px solid #d7d7d7;
        box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.1 );
        float: left;
        width: 49.583333333333%;
    }

    .column-top-right--bottom {
        margin-left: 0.83333333333333%;
    }

}

@include media( $screen--960 ) {

    .column-bottom,
    .one-half {
        margin: 0;
        width: 100%;
    }

}

@include media( $screen--800 ) {

    .column-top-left,
    .column-top-center,
    .column-top-right--top,
    .column-top-right--bottom {
        margin-left: 0;
        width: 100%;
    }

}